/************************************************
*                                               *
* Paleta de colores utilizados en el documento: *
*                                               *
************************************************/
/*
palette {
color: #89d5e0;
color: #c1ddcc;
color: #e9e6bd;
color: #f78e22;
color: #fc7000;
}
*/

/* * {
    margin: 0;
    padding: 0;
} */


/************************ estilos globales ************************/

body {
    margin: 0 5% 0px 5%;
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

figcaption {
    font-size: small;
}

h1 {
    background-color: #ffffff;
    color: #000000;
}

h2 {
    background-color: #ffffff;
    color: #000000;
    font-weight: 200;
    font-stretch: condensed;
    line-height: 2em;
    margin: 0;
    padding: 0 1em;
    /* text-align: left; */
}

a {
    color: #000000;
    background-color: #89d5e0;
    padding: 2px;
    border-radius: 5px;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    background-color: #fc7000;
}

/************************ cabecera de la página ************************/

header {
    background-color: #e9e6bd;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: table; */
}
 
header figure {
    float: left;
    margin: 5px;
    padding: 5px;
} 

header img {
    height: 15em;
    /* height: 300px; */
}

header h1 {
    padding: 5px;
    margin: 5px;
}

/************************ menú de navegación  ************************/

nav {
    color: #ffffff;
    background-color: #e9e6bd;
    text-align: center;
    line-height: 100px;
}

.menu {
    display: inline-block; 
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    padding: 20px 10px 20px 10px;
}

.menu a:hover {
    color: #ffffff;
    background-color: #fc7000;
}

.menu a:active {
    color: #ffffff;
    background-color: #c1ddcc;
}

/************************ contenido de la página ************************/

main {
    color: #000000;
    background-color: #e9e6bd;
    padding: 5px 30px;
    /* display: table; */
}

#primeraparte figure {
    float: right;
    text-align: center;
    margin: .2em;
    padding: .2em;
}

#segundaparte li {
    list-style: square;
}

#terceraparte a {
    word-wrap: break-word;
}

#terceraparte table {
    text-align: center;
    margin: 0 auto;

}

#terceraparte th:nth-child(1) {
    color: #000000;
    background-color: #c1ddcc;
}

#terceraparte th:nth-child(2) {
    color: #000000;
    background-color: #f78e22;
}

/************************ pie de página ************************/

footer * {
    margin: 0px;
    padding: 0px;
}

footer {
    color: #000000;
    text-align: center;
    background-color: #c1ddcc;
    line-height: 50px;
}

footer a {
    color: #000000;
    background-color: #e9e6bd;   
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}